{"openapi":"3.1.0","info":{"title":"OpenAPI definition","version":"v0"},"servers":[{"url":"http://www.movincloud.com:2112","description":"Generated server url"}],"tags":[{"name":"FinOps FOCUS","description":"FinOps FOCUS Standard API"},{"name":"Internal Budget Alerts","description":"Internal budget alerting jobs"},{"name":"Budgets","description":"Budgets management"},{"name":"Cost Centers","description":"Cost centers management"},{"name":"FinOps Usage","description":"FinOps Usage Standard API"},{"name":"FinOps Costs","description":"FinOps Costs Standard API"},{"name":"Usage v2","description":"Usage Data API List new version"},{"name":"Budget Alerts","description":"Budget alerting management"},{"name":"Dashboard","description":"Dashboard API"},{"name":"Client FinOps Costs","description":"Customer FinOps Costs Standard API"}],"paths":{"/cost-centers/{id}":{"get":{"tags":["Cost Centers"],"summary":"Gets a cost center by id","operationId":"findById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"x-opa-project-filter","in":"header","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CostCenterResponse"}}}}}},"put":{"tags":["Cost Centers"],"summary":"Updates a cost center","operationId":"update","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"x-opa-project-filter","in":"header","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CostCenterRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CostCenterResponse"}}}}}},"delete":{"tags":["Cost Centers"],"summary":"Deletes a cost center","operationId":"delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"x-opa-project-filter","in":"header","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK"}}}},"/cost-centers/{id}/assignments":{"put":{"tags":["Cost Centers"],"summary":"Replaces all assignments of a cost center","operationId":"replaceAssignments","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"x-opa-project-filter","in":"header","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CostCenterAssignmentsRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CostCenterResponse"}}}}}}},"/budgets/{id}":{"get":{"tags":["Budgets"],"summary":"Gets a budget by id","operationId":"findById_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"x-opa-project-filter","in":"header","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BudgetResponse"}}}}}},"put":{"tags":["Budgets"],"summary":"Updates a budget","operationId":"update_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"x-opa-project-filter","in":"header","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BudgetRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BudgetResponse"}}}}}},"delete":{"tags":["Budgets"],"summary":"Deletes a budget","operationId":"delete_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"x-opa-project-filter","in":"header","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK"}}}},"/budgets/{budgetId}/alert":{"get":{"tags":["Budget Alerts"],"summary":"Gets the alert configuration for a budget","operationId":"findByBudgetId","parameters":[{"name":"budgetId","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BudgetAlertResponse"}}}}}},"put":{"tags":["Budget Alerts"],"summary":"Creates or updates the alert configuration for a budget","operationId":"upsert","parameters":[{"name":"budgetId","in":"path","required":true,"schema":{"type":"string"}},{"name":"x-opa-project-filter","in":"header","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BudgetAlertRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BudgetAlertResponse"}}}}}}},"/usagesv2/v2/resource/summary":{"post":{"tags":["Usage v2"],"summary":"Get a list of resource usage summaries","operationId":"computeResourcesUsageSummariesPOST","parameters":[{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestUsageStats"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ResourceUsageSummaryv2Bean"}}}}}}}},"/internal/budget-alerts/evaluate":{"post":{"tags":["Internal Budget Alerts"],"summary":"Triggers budget alert evaluation for all tenants","operationId":"evaluateAll","responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BudgetAlertEvaluationTriggerResponse"}}}}}}},"/costs/v2/model":{"post":{"tags":["costs-controller-v-2"],"summary":"Creates/Updates a cost model","operationId":"upsertCostModel","parameters":[{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CostModelRequestV2"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CostModelRequestV2"}}}}}}},"/cost-centers":{"get":{"tags":["Cost Centers"],"summary":"Lists cost centers for the current tenant","operationId":"findAll","parameters":[{"name":"x-opa-project-filter","in":"header","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"active","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"ids","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"X-Tenant","in":"header","description":"If specified, filters cost centers by active status","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CostCenterResponse"}}}}}}},"post":{"tags":["Cost Centers"],"summary":"Creates a cost center","operationId":"create","parameters":[{"name":"x-opa-project-filter","in":"header","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CostCenterRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CostCenterResponse"}}}}}}},"/budgets":{"get":{"tags":["Budgets"],"summary":"Lists budgets for the current tenant","operationId":"findAll_1","parameters":[{"name":"scopeType","in":"query","description":"Optional filter by scope type","required":false,"schema":{"type":"string"}},{"name":"allocated","in":"query","description":"Optional filter by allocation flag","required":false,"schema":{"type":"boolean"}},{"name":"expired","in":"query","description":"Optional filter by expiration flag","required":false,"schema":{"type":"boolean"}},{"name":"x-opa-project-filter","in":"header","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BudgetResponse"}}}}}}},"post":{"tags":["Budgets"],"summary":"Creates a budget","operationId":"create_1","parameters":[{"name":"x-opa-project-filter","in":"header","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BudgetRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BudgetResponse"}}}}}}},"/budgets/{budgetId}/alert/evaluate":{"post":{"tags":["Budget Alerts"],"summary":"Evaluates the alert configuration for a budget","operationId":"evaluate","parameters":[{"name":"budgetId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Accept-Language","in":"header","required":false,"schema":{"type":"string"}},{"name":"x-opa-project-filter","in":"header","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BudgetAlertResponse"}}}}}}},"/cost-centers/{id}/status":{"patch":{"tags":["Cost Centers"],"summary":"Activates or deactivates a cost center","operationId":"updateStatus","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"x-opa-project-filter","in":"header","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CostCenterStatusRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CostCenterResponse"}}}}}}},"/usagesv2/resource/summary":{"get":{"tags":["Usage v2"],"summary":"Get a list of resource usage summaries","operationId":"computeResourcesUsageSummaries","parameters":[{"name":"dateFrom","in":"query","description":"Start date of usage data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"dateTo","in":"query","description":"End date of usage data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"tags","in":"query","description":"List of tags/tgu related to resources","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"costContext","in":"query","description":"Cost context for which to show usage summaries","required":false,"schema":{"type":"string","default":""}},{"name":"extend","in":"query","description":"Cost context for which to show usage summaries","required":false,"schema":{"type":"boolean","default":false}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}},{"name":"x-opa-project-filter","in":"header","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ResourceUsageSummaryv2Bean"}}}}}}}},"/usagesv2/expressioncheck":{"get":{"tags":["Usage v2"],"summary":"Get a list of resource usage summaries","operationId":"check","parameters":[{"name":"expression","in":"query","description":"expression check","required":false,"schema":{"type":"string","default":""}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericException"}}}}}}},"/finops-extractions/dashboard":{"get":{"tags":["finops-extraction-controller"],"operationId":"dashboard","parameters":[{"name":"startDate","in":"query","description":"Start date, format: yyyy-MM-dd","required":true,"schema":{"type":"string","format":"date"}},{"name":"endDate","in":"query","description":"End date, format: yyyy-MM-dd","required":true,"schema":{"type":"string","format":"date"}},{"name":"systemIds","in":"query","description":"Filter by system UUIDs (optional)","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"x-opa-project-filter","in":"header","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FinopsExtractionDashboardItem"}}}}}}}},"/finops-extractions/coverage-all":{"get":{"tags":["finops-extraction-controller"],"operationId":"coverageAll","parameters":[{"name":"startDate","in":"query","description":"Start date, format: yyyy-MM-dd","required":true,"schema":{"type":"string","format":"date"}},{"name":"endDate","in":"query","description":"End date, format: yyyy-MM-dd","required":true,"schema":{"type":"string","format":"date"}},{"name":"systemIds","in":"query","description":"Filter by system UUIDs (optional, supports multiple values)","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"x-opa-project-filter","in":"header","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FinopsExtractionFlatCoverageItem"}}}}}}}},"/finops-extractions/count":{"get":{"tags":["finops-extraction-controller"],"operationId":"count","parameters":[{"name":"startDate","in":"query","description":"Start date, format: yyyy-MM-dd","required":true,"schema":{"type":"string","format":"date"}},{"name":"endDate","in":"query","description":"End date, format: yyyy-MM-dd","required":true,"schema":{"type":"string","format":"date"}},{"name":"systemIds","in":"query","description":"Filter by system UUIDs (optional)","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"x-opa-project-filter","in":"header","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FinopsExtractionCountResponse"}}}}}}},"/finOps":{"get":{"tags":["FinOps FOCUS"],"summary":"Gets a list of FinOps FOCUS data","operationId":"findAll_2","parameters":[{"name":"dateFrom","in":"query","description":"Start date of FinOps data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"dateTo","in":"query","description":"End date of FinOps data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"providers","in":"query","description":"List of cloud providers of FinOps data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"systemUuids","in":"query","description":"List of system uuid of FinOps data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"resourceTypes","in":"query","description":"List of resource types of FinOps data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"x-opa-project-filter","in":"header","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FinOpsCost"}}}}}}}},"/finOps/tags":{"get":{"tags":["FinOps FOCUS"],"summary":"Get resource tags","operationId":"getResourcesTags","parameters":[{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/finOps/summary":{"get":{"tags":["FinOps FOCUS"],"summary":"Computes summary of FinOps FOCUS by filters","operationId":"computeSummary","parameters":[{"name":"dateFrom","in":"query","description":"Start date of FOCUS data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"dateTo","in":"query","description":"End date of FOCUS data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"service","in":"query","description":"Service category of FOCUS data","required":false,"schema":{"type":"string","default":""}},{"name":"skuName","in":"query","description":"Sku name of FOCUS data","required":false,"schema":{"type":"string","default":""}},{"name":"tags","in":"query","description":"List of tags/tgu related to resources","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"providers","in":"query","description":"List of cloud providers of FOCUS data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"systemNames","in":"query","description":"List of system name of FOCUS data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"resourceTypes","in":"query","description":"List of resource types of FOCUS data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"groupBy","in":"query","description":"List of fields to group FOCUS data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"x-opa-project-filter","in":"header","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Document"}}}}}}}},"/finOps/resourceTypes":{"get":{"tags":["FinOps FOCUS"],"summary":"Gets resource types of FinOps FOCUS data","operationId":"getResourceTypes","parameters":[{"name":"dateFrom","in":"query","description":"Start date of account data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"dateTo","in":"query","description":"End date of account data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"providers","in":"query","description":"List of cloud providers of account data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"systemUuids","in":"query","description":"List of system uuid of FinOps data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"x-opa-project-filter","in":"header","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/finOps/providers":{"get":{"tags":["FinOps FOCUS"],"summary":"Gets providers of FinOps FOCUS data","operationId":"getProviders","parameters":[{"name":"dateFrom","in":"query","description":"Start date of provider data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"dateTo","in":"query","description":"End date of provider data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"systemUuids","in":"query","description":"List of system uuid of provider data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"resourceTypes","in":"query","description":"List of resource types of provider data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"x-opa-project-filter","in":"header","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/finOps/cmpAccounts":{"get":{"tags":["FinOps FOCUS"],"summary":"Gets CMP accounts of FinOps FOCUS data","operationId":"getCMPAccounts","parameters":[{"name":"dateFrom","in":"query","description":"Start date of account data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"dateTo","in":"query","description":"End date of account data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"providers","in":"query","description":"List of cloud providers of account data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"resourceTypes","in":"query","description":"List of resource types of account data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"x-opa-project-filter","in":"header","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/finOps/checkEndDate":{"get":{"tags":["FinOps FOCUS"],"summary":"Checks the date range to cost/usage data","operationId":"checkEndDate","parameters":[{"name":"dateTo","in":"query","description":"End date of account data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"app-lang","in":"header","required":false,"schema":{"type":"string","default":"en"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/finOps-usage/unit":{"get":{"tags":["FinOps Usage"],"summary":"Gets FinOps usage sku unit","operationId":"usageUnit","parameters":[{"name":"skuName","in":"query","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/finOps-usage/timeseries":{"get":{"tags":["FinOps Usage"],"summary":"Gets finops usage timeseries by skuName","operationId":"usageTimeseries","parameters":[{"name":"skuName","in":"query","required":true,"schema":{"type":"string"}},{"name":"dateFrom","in":"query","description":"Start date of usage data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"dateTo","in":"query","description":"End date of usage data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"tags","in":"query","description":"List of tags/tgu related to resources","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"providers","in":"query","description":"List of cloud providers of usage data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"systemNames","in":"query","description":"List of system name of usage data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"resourceTypes","in":"query","description":"List of resource types of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"context","in":"query","required":false,"schema":{"type":"string","default":"resource"}},{"name":"x-opa-project-filter","in":"header","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Document"}}}}}}}},"/finOps-usage/summary":{"get":{"tags":["FinOps Usage"],"summary":"Computes FinOps usage summary by filters","operationId":"computeUsageSummary","parameters":[{"name":"dateFrom","in":"query","description":"Start date of usage data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"dateTo","in":"query","description":"End date of usage data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"service","in":"query","description":"Service category of usage data","required":false,"schema":{"type":"string","default":""}},{"name":"skuName","in":"query","description":"Sku name of usage data","required":false,"schema":{"type":"string","default":""}},{"name":"tags","in":"query","description":"List of tags/tgu related to resources","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"providers","in":"query","description":"List of cloud providers of usage data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"systemNames","in":"query","description":"List of system name of usage data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"resourceTypes","in":"query","description":"List of resource types of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"groupBy","in":"query","description":"List of fields to group cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"x-opa-project-filter","in":"header","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Document"}}}}}}}},"/finOps-usage/skus":{"get":{"tags":["FinOps Usage"],"summary":"Gets FinOps usage skus","operationId":"usageSkus","parameters":[{"name":"dateFrom","in":"query","description":"Start date of usage data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"dateTo","in":"query","description":"End date of usage data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"tags","in":"query","description":"List of tags/tgu related to resources","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"providers","in":"query","description":"List of cloud providers of usage data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"systemNames","in":"query","description":"List of system name of usage data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"resourceTypes","in":"query","description":"List of resource types of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"service","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"x-opa-project-filter","in":"header","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/finOps-usage/services":{"get":{"tags":["FinOps Usage"],"summary":"Gets FinOps usage services","operationId":"usageServices","parameters":[{"name":"dateFrom","in":"query","description":"Start date of usage data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"dateTo","in":"query","description":"End date of usage data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"tags","in":"query","description":"List of tags/tgu related to resources","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"providers","in":"query","description":"List of cloud providers of usage data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"systemNames","in":"query","description":"List of system name of usage data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"resourceTypes","in":"query","description":"List of resource types of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"x-opa-project-filter","in":"header","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/finOps-usage/dashboard":{"get":{"tags":["FinOps Usage"],"summary":"Gets right FinOps usage dashboard","operationId":"findUsageDashboardPath","parameters":[{"name":"app-lang","in":"header","required":false,"schema":{"type":"string","default":"en"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/finOps-costs/timeseries":{"get":{"tags":["FinOps Costs"],"summary":"Gets FinOps costs timeseries","operationId":"costTimeseries","parameters":[{"name":"dateFrom","in":"query","description":"Start date of cost data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"dateTo","in":"query","description":"End date of cost data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"tags","in":"query","description":"List of tags/tgu related to resources","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"providers","in":"query","description":"List of cloud providers of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"systemNames","in":"query","description":"List of system name of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"resourceTypes","in":"query","description":"List of resource types of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"context","in":"query","description":"Context level of cost data","required":false,"schema":{"type":"string","default":"billing"}},{"name":"x-opa-project-filter","in":"header","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Document"}}}}}}}},"/finOps-costs/summary":{"get":{"tags":["FinOps Costs"],"summary":"Computes costs summary of FinOps FOCUS by filters","operationId":"computeCostsSummary","parameters":[{"name":"dateFrom","in":"query","description":"Start date of cost data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"dateTo","in":"query","description":"End date of cost data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"tags","in":"query","description":"List of tags/tgu related to resources","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"providers","in":"query","description":"List of cloud providers of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"systemNames","in":"query","description":"List of system name of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"resourceTypes","in":"query","description":"List of resource types of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"groupBy","in":"query","description":"List of fields to group cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"x-opa-project-filter","in":"header","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Document"}}}}}}}},"/finOps-costs/resources/summary":{"get":{"tags":["FinOps Costs"],"summary":"Get a list of resource usage summaries","operationId":"computeResourcesUsageSummaries_1","parameters":[{"name":"dateFrom","in":"query","description":"Start date of usage data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"dateTo","in":"query","description":"End date of usage data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"tags","in":"query","description":"List of tags/tgu related to resources","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"costContext","in":"query","description":"Cost context for which to show usage summaries","required":false,"schema":{"type":"string","default":""}},{"name":"extend","in":"query","description":"Cost context for which to show usage summaries","required":false,"schema":{"type":"boolean","default":false}},{"name":"x-opa-project-filter","in":"header","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ResourceUsageSummaryv2Bean"}}}}}}}},"/finOps-costs/forecast":{"get":{"tags":["FinOps Costs"],"summary":"Gets FinOps forecast costs timeseries","operationId":"forecastCostTimeseries","parameters":[{"name":"dateFrom","in":"query","description":"Start date of usage data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"dateTo","in":"query","description":"End date of usage data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"tags","in":"query","description":"List of tags/tgu related to resources","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"providers","in":"query","description":"List of cloud providers of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"systemNames","in":"query","description":"List of system name of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"resourceTypes","in":"query","description":"List of resource types of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"context","in":"query","description":"Context level of cost data","required":false,"schema":{"type":"string","default":""}},{"name":"show","in":"query","description":"Filter forecast rows by date: future or past","required":false,"schema":{"type":"string","default":""}},{"name":"overlapDays","in":"query","description":"Additional overlap days for future mode only (range 0..30)","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"x-opa-project-filter","in":"header","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Document"}}}}}}}},"/finOps-costs/dashboard":{"get":{"tags":["FinOps Costs"],"summary":"Gets right FinOps costs dashboard","operationId":"findCostDashboardPathByRole","parameters":[{"name":"dashboardType","in":"query","required":false,"schema":{"type":"string","default":"admin"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"app-lang","in":"header","required":false,"schema":{"type":"string","default":"en"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/finOps-costs/client/timeseries":{"get":{"tags":["Client FinOps Costs"],"summary":"Gets customer FinOps costs timeseries","operationId":"costTimeseries_1","parameters":[{"name":"dateFrom","in":"query","description":"Start date of cost data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"dateTo","in":"query","description":"End date of cost data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"tags","in":"query","description":"List of tags/tgu related to resources","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"providers","in":"query","description":"List of cloud providers of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"systemNames","in":"query","description":"List of system name of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"resourceTypes","in":"query","description":"List of resource types of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"context","in":"query","description":"Context level of cost data","required":false,"schema":{"type":"string","default":"billing"}},{"name":"x-opa-project-filter","in":"header","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Document"}}}}}}}},"/finOps-costs/client/summary":{"get":{"tags":["Client FinOps Costs"],"summary":"Computes customer costs summary of FinOps FOCUS by filters","operationId":"computeCostsSummary_1","parameters":[{"name":"dateFrom","in":"query","description":"Start date of cost data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"dateTo","in":"query","description":"End date of cost data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"tags","in":"query","description":"List of tags/tgu related to resources","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"providers","in":"query","description":"List of cloud providers of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"systemNames","in":"query","description":"List of system name of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"resourceTypes","in":"query","description":"List of resource types of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"groupBy","in":"query","description":"List of fields to group cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"x-opa-project-filter","in":"header","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Document"}}}}}}}},"/finOps-costs/client/forecast":{"get":{"tags":["Client FinOps Costs"],"summary":"Gets customer FinOps forecast costs timeseries","operationId":"forecastCostTimeseries_1","parameters":[{"name":"dateFrom","in":"query","description":"Start date of usage data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"dateTo","in":"query","description":"End date of usage data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"tags","in":"query","description":"List of tags/tgu related to resources","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"providers","in":"query","description":"List of cloud providers of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"systemNames","in":"query","description":"List of system name of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"resourceTypes","in":"query","description":"List of resource types of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"context","in":"query","description":"Context level of cost data","required":false,"schema":{"type":"string","default":""}},{"name":"x-opa-project-filter","in":"header","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Document"}}}}}}}},"/dashboard/usage-aggregation":{"get":{"tags":["Dashboard"],"summary":"Computes usage aggregation by filters","operationId":"computeUsageAggregation","parameters":[{"name":"dateFrom","in":"query","description":"Start date of cost data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"dateTo","in":"query","description":"End date of cost data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"service","in":"query","description":"Service category of usage data","required":false,"schema":{"type":"string","default":""}},{"name":"skuName","in":"query","description":"Sku name of usage data","required":false,"schema":{"type":"string","default":""}},{"name":"tags","in":"query","description":"List of tags/tgu related to resources","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"providers","in":"query","description":"List of cloud providers of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"systemNames","in":"query","description":"List of system name of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"resourceTypes","in":"query","description":"List of resource types of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"groupBy","in":"query","description":"List of fields to group cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"x-opa-project-filter","in":"header","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Document"}}}}}}}},"/dashboard/usage-aggregation-daily-average":{"get":{"tags":["Dashboard"],"summary":"Computes daily average usage aggregation by filters","operationId":"computeDailyAverageUsageAggregation","parameters":[{"name":"dateFrom","in":"query","description":"Start date of cost data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"dateTo","in":"query","description":"End date of cost data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"service","in":"query","description":"Service category of usage data","required":false,"schema":{"type":"string","default":""}},{"name":"skuName","in":"query","description":"Sku name of usage data","required":false,"schema":{"type":"string","default":""}},{"name":"tags","in":"query","description":"List of tags/tgu related to resources","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"providers","in":"query","description":"List of cloud providers of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"systemNames","in":"query","description":"List of system name of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"resourceTypes","in":"query","description":"List of resource types of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"groupBy","in":"query","description":"List of fields to group cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"x-opa-project-filter","in":"header","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Document"}}}}}}}},"/dashboard/total-spend":{"get":{"tags":["Dashboard"],"summary":"Computes the total cloud spend  by filters","operationId":"computeTotalSpend","parameters":[{"name":"dateFrom","in":"query","description":"Start date of cost data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"dateTo","in":"query","description":"End date of cost data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"tags","in":"query","description":"List of tags/tgu related to resources","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"providers","in":"query","description":"List of cloud providers of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"systemNames","in":"query","description":"List of system name of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"resourceTypes","in":"query","description":"List of resource types of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"x-opa-project-filter","in":"header","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Document"}}}}}}},"/dashboard/total-cloud-spend":{"get":{"tags":["Dashboard"],"summary":"Computes the total cloud spend  by filters","operationId":"computeTotalCloudSpend","parameters":[{"name":"dateFrom","in":"query","description":"Start date of cost data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"dateTo","in":"query","description":"End date of cost data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"tags","in":"query","description":"List of tags/tgu related to resources","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"providers","in":"query","description":"List of cloud providers of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"systemNames","in":"query","description":"List of system name of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"resourceTypes","in":"query","description":"List of resource types of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"x-opa-project-filter","in":"header","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"number","format":"double"}}}}}}},"/dashboard/total-client-spend":{"get":{"tags":["Dashboard"],"summary":"Computes the total cloud spend  by filters","operationId":"computeTotalClientSpend","parameters":[{"name":"dateFrom","in":"query","description":"Start date of cost data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"dateTo","in":"query","description":"End date of cost data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"tags","in":"query","description":"List of tags/tgu related to resources","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"providers","in":"query","description":"List of cloud providers of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"systemNames","in":"query","description":"List of system name of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"resourceTypes","in":"query","description":"List of resource types of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"x-opa-project-filter","in":"header","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"number","format":"double"}}}}}}},"/dashboard/skus":{"get":{"tags":["Dashboard"],"summary":"Gets FinOps usage skus","operationId":"usageSkus_1","parameters":[{"name":"dateFrom","in":"query","description":"Start date of usage data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"dateTo","in":"query","description":"End date of usage data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"tags","in":"query","description":"List of tags/tgu related to resources","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"providers","in":"query","description":"List of cloud providers of usage data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"systemNames","in":"query","description":"List of system name of usage data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"resourceTypes","in":"query","description":"List of resource types of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"service","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"x-opa-project-filter","in":"header","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/dashboard/services":{"get":{"tags":["Dashboard"],"summary":"Gets FinOps usage services","operationId":"usageServices_1","parameters":[{"name":"dateFrom","in":"query","description":"Start date of usage data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"dateTo","in":"query","description":"End date of usage data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"tags","in":"query","description":"List of tags/tgu related to resources","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"providers","in":"query","description":"List of cloud providers of usage data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"systemNames","in":"query","description":"List of system name of usage data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"resourceTypes","in":"query","description":"List of resource types of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"x-opa-project-filter","in":"header","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/dashboard/history-usage":{"get":{"tags":["Dashboard"],"summary":"Computes history usage by filters","operationId":"computeHistoryUsage","parameters":[{"name":"dateFrom","in":"query","description":"Start date of cost data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"dateTo","in":"query","description":"End date of cost data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"skuName","in":"query","description":"Sku name of usage data","required":false,"schema":{"type":"string","default":""}},{"name":"tags","in":"query","description":"List of tags/tgu related to resources","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"providers","in":"query","description":"List of cloud providers of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"systemNames","in":"query","description":"List of system name of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"resourceTypes","in":"query","description":"List of resource types of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"groupBy","in":"query","description":"List of fields to group cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"x-opa-project-filter","in":"header","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Document"}}}}}}}},"/dashboard/history-cloud-spend":{"get":{"tags":["Dashboard"],"summary":"Computes history cloud spend by filters","operationId":"computeHistoryCloudSpend","parameters":[{"name":"dateFrom","in":"query","description":"Start date of cost data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"dateTo","in":"query","description":"End date of cost data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"tags","in":"query","description":"List of tags/tgu related to resources","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"providers","in":"query","description":"List of cloud providers of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"systemNames","in":"query","description":"List of system name of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"resourceTypes","in":"query","description":"List of resource types of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"x-opa-project-filter","in":"header","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Document"}}}}}}}},"/dashboard/history-client-spend":{"get":{"tags":["Dashboard"],"summary":"Computes history client spend by filters","operationId":"computeHistoryClientSpend","parameters":[{"name":"dateFrom","in":"query","description":"Start date of cost data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"dateTo","in":"query","description":"End date of cost data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"tags","in":"query","description":"List of tags/tgu related to resources","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"providers","in":"query","description":"List of cloud providers of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"systemNames","in":"query","description":"List of system name of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"resourceTypes","in":"query","description":"List of resource types of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"x-opa-project-filter","in":"header","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Document"}}}}}}}},"/dashboard/history-client-spend-accumulated":{"get":{"tags":["Dashboard"],"summary":"Computes accumulated history client spend by filters","operationId":"computeHistoryClientSpendAccumulated","parameters":[{"name":"dateFrom","in":"query","description":"Start date of cost data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"dateTo","in":"query","description":"End date of cost data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"tags","in":"query","description":"List of tags/tgu related to resources","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"providers","in":"query","description":"List of cloud providers of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"systemNames","in":"query","description":"List of system name of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"resourceTypes","in":"query","description":"List of resource types of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"showForecast","in":"query","description":"Include forecast data in the accumulated history","required":false,"schema":{"type":"boolean","default":false}},{"name":"overlapDays","in":"query","description":"Additional overlap days for forecast mode only (range 0..30)","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"x-opa-project-filter","in":"header","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Document"}}}}}}}},"/dashboard/cloud-organizational-aggregation":{"get":{"tags":["Dashboard"],"summary":"Computes organizational entities aggregation about cloud costs","operationId":"computeOrganizationalCloudAggregation","parameters":[{"name":"orgEntityType","in":"query","description":"Organizational entity of cost data","required":true,"schema":{"type":"string"}},{"name":"dateFrom","in":"query","description":"Start date of cost data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"dateTo","in":"query","description":"End date of cost data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"tags","in":"query","description":"List of tags/tgu related to resources","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"providers","in":"query","description":"List of cloud providers of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"systemNames","in":"query","description":"List of system name of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"resourceTypes","in":"query","description":"List of resource types of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"x-opa-project-filter","in":"header","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Document"}}}}}}}},"/dashboard/cloud-aggregation":{"get":{"tags":["Dashboard"],"summary":"Computes cloud aggregation by filters","operationId":"computeCloudAggregation","parameters":[{"name":"dateFrom","in":"query","description":"Start date of cost data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"dateTo","in":"query","description":"End date of cost data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"tags","in":"query","description":"List of tags/tgu related to resources","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"providers","in":"query","description":"List of cloud providers of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"systemNames","in":"query","description":"List of system name of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"resourceTypes","in":"query","description":"List of resource types of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"groupBy","in":"query","description":"List of fields to group cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"x-opa-project-filter","in":"header","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Document"}}}}}}}},"/dashboard/client-spend-difference":{"get":{"tags":["Dashboard"],"summary":"Computes the total cloud spend  by filters","operationId":"computeClientSpendDifferences","parameters":[{"name":"dateFrom","in":"query","description":"Start date of cost data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"dateTo","in":"query","description":"End date of cost data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"tags","in":"query","description":"List of tags/tgu related to resources","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"providers","in":"query","description":"List of cloud providers of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"systemNames","in":"query","description":"List of system name of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"resourceTypes","in":"query","description":"List of resource types of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"x-opa-project-filter","in":"header","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Document"}}}}}}}},"/dashboard/client-organizational-aggregation":{"get":{"tags":["Dashboard"],"summary":"Computes organizational entities aggregation about client costs","operationId":"computeOrganizationalClientAggregation","parameters":[{"name":"orgEntityType","in":"query","description":"Organizational entity of cost data","required":true,"schema":{"type":"string"}},{"name":"dateFrom","in":"query","description":"Start date of cost data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"dateTo","in":"query","description":"End date of cost data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"tags","in":"query","description":"List of tags/tgu related to resources","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"providers","in":"query","description":"List of cloud providers of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"systemNames","in":"query","description":"List of system name of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"resourceTypes","in":"query","description":"List of resource types of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"x-opa-project-filter","in":"header","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Document"}}}}}}}},"/dashboard/client-aggregation":{"get":{"tags":["Dashboard"],"summary":"Computes client aggregation by filters","operationId":"computeClientAggregation","parameters":[{"name":"dateFrom","in":"query","description":"Start date of cost data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"dateTo","in":"query","description":"End date of cost data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"tags","in":"query","description":"List of tags/tgu related to resources","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"providers","in":"query","description":"List of cloud providers of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"systemNames","in":"query","description":"List of system name of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"resourceTypes","in":"query","description":"List of resource types of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"groupBy","in":"query","description":"List of fields to group cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"x-opa-project-filter","in":"header","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Document"}}}}}}}},"/costs/v2/model/{systemType}":{"get":{"tags":["costs-controller-v-2"],"summary":"Get a cost model","operationId":"getCostModel","parameters":[{"name":"systemType","in":"path","required":true,"schema":{"type":"string","enum":["Azure","VMWare","CMP","Google","AzureStack","AzureStackHCI","OpenShift","AmazonWebServices","AzureStackHybridCloud","Oracle","VCloudDirector","Kubernetes","OracleExAcc","RedHatEdge","Proxmox","OracleOCI"]}},{"name":"systemUuid","in":"query","required":true,"schema":{"type":"string"}},{"name":"app-lang","in":"header","required":false,"schema":{"type":"string","default":"en"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CostModelV2"}}}}}},"delete":{"tags":["costs-controller-v-2"],"summary":"Deletes the cost model provider","operationId":"deleteCostModelProvider","parameters":[{"name":"systemType","in":"path","required":true,"schema":{"type":"string","enum":["Azure","VMWare","CMP","Google","AzureStack","AzureStackHCI","OpenShift","AmazonWebServices","AzureStackHybridCloud","Oracle","VCloudDirector","Kubernetes","OracleExAcc","RedHatEdge","Proxmox","OracleOCI"]}},{"name":"systemUuid","in":"query","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK"}}}},"/costs/v2/model/metrics/{systemType}":{"get":{"tags":["costs-controller-v-2"],"summary":"Gets the cost model provider","operationId":"getCostMetricsProvider","parameters":[{"name":"systemType","in":"path","required":true,"schema":{"type":"string","enum":["Azure","VMWare","CMP","Google","AzureStack","AzureStackHCI","OpenShift","AmazonWebServices","AzureStackHybridCloud","Oracle","VCloudDirector","Kubernetes","OracleExAcc","RedHatEdge","Proxmox","OracleOCI"]}},{"name":"app-lang","in":"header","required":false,"schema":{"type":"string","default":"en"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProviderMetricsResponseBean"}}}}}}},"/cost-centers/{id}/summary":{"get":{"tags":["Cost Centers"],"summary":"Computes cost summary for a cost center in the requested time range","operationId":"summary","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"dateFrom","in":"query","description":"Start date of cost data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"dateTo","in":"query","description":"End date of cost data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"x-opa-project-filter","in":"header","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CostCenterSummaryResponse"}}}}}}},"/cost-centers/{id}/cost-variation":{"get":{"tags":["Cost Centers"],"summary":"Computes cost variation between the requested time range and the previous one for a cost center","operationId":"costVariation","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"dateFrom","in":"query","description":"Start date of cost data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"dateTo","in":"query","description":"End date of cost data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"x-opa-project-filter","in":"header","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"X-Tenant","in":"header","required":f
[...]
