{"openapi":"3.1.0","info":{"title":"OpenAPI definition","version":"v0"},"servers":[{"url":"http://www.movincloud.com:2112","description":"Generated server url"}],"paths":{"/v2/services":{"get":{"tags":["service-controller"],"summary":"Gets a list of services by params","operationId":"findAllServices","parameters":[{"name":"items","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"tags","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"categories","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"textRegex","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"app-lang","in":"header","required":false,"schema":{"type":"string","default":"en"}},{"name":"x-opa-project-filter","in":"header","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagedListDTO"}}}}}},"put":{"tags":["service-controller"],"summary":"Updates a service","operationId":"updateService","parameters":[{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceDTO"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Resource"}}}}}},"post":{"tags":["service-controller"],"summary":"Creates a new service","operationId":"createService","parameters":[{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceDTO"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Resource"}}}}}}},"/v2/infra-elements/{id}":{"get":{"tags":["infra-element-controller"],"summary":"Recupera un InfraElement per id (es. svc-a1b2c3d4)","operationId":"getById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","required":false,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}},{"name":"x-opa-project-filter","in":"header","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InfraElement"}}}}}},"put":{"tags":["infra-element-controller"],"summary":"Aggiorna integralmente un InfraElement esistente","operationId":"update","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","required":false,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}},{"name":"x-opa-project-filter","in":"header","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InfraElement"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InfraElement"}}}}}},"delete":{"tags":["infra-element-controller"],"summary":"Cancella un InfraElement per id","operationId":"delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","required":false,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}},{"name":"x-opa-project-filter","in":"header","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DeleteResult"}}}}}}},"/v2/infra-elements":{"get":{"tags":["infra-element-controller"],"summary":"Lista paginata di InfraElement (filtri: name, kind, status)","operationId":"findAll","parameters":[{"name":"items","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"nameRegex","in":"query","required":false,"schema":{"type":"string"}},{"name":"kind","in":"query","required":false,"schema":{"type":"string","enum":["terraform","vm","network","helm","ansible","bicep","azurepipeline","webhook","kubernetes"]}},{"name":"status","in":"query","required":false,"schema":{"type":"string","enum":["pending","provisioning","running","degraded","destroyed"]}},{"name":"sortBy","in":"query","required":false,"schema":{"type":"string","default":"name"}},{"name":"sortDir","in":"query","required":false,"schema":{"type":"string","default":"ASC","enum":["ASC","DESC"]}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}},{"name":"x-opa-project-filter","in":"header","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagedListDTO"}}}}}},"post":{"tags":["infra-element-controller"],"summary":"Crea un nuovo InfraElement (id auto-generato se mancante)","operationId":"create","parameters":[{"name":"Authorization","in":"header","required":false,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}},{"name":"x-opa-project-filter","in":"header","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InfraElement"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InfraElement"}}}}}}},"/v2/services/{id}":{"get":{"tags":["service-controller"],"summary":"Gets a service by id","operationId":"getServiceById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Resource"}}}}}},"delete":{"tags":["service-controller"],"summary":"Removes a service by id","operationId":"removeServiceById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DeleteResult"}}}}}}},"/v2/services/operators/refresh":{"get":{"tags":["service-controller"],"summary":"Refreshes hub operators","operationId":"refreshHubOperators","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK"}}}},"/v2/services/engines":{"get":{"tags":["service-controller"],"summary":"Gets a list of service script engines","operationId":"findServiceEngines","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SelectBean"}}}}}}}},"/v2/services/clusters":{"get":{"tags":["service-controller"],"summary":"Gets a list of service clusters","operationId":"findServiceClusters","parameters":[{"name":"x-opa-project-filter","in":"header","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SelectBean"}}}}}}}},"/v2/services/categories":{"get":{"tags":["service-controller"],"summary":"Gets a list of service categories","operationId":"findServiceCategories","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/v2/infra-elements/subsystemlist":{"get":{"tags":["infra-element-controller"],"summary":"Recupera un InfraElement per id (es. svc-a1b2c3d4)","operationId":"subsystemlist","parameters":[{"name":"Authorization","in":"header","required":false,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}},{"name":"x-opa-project-filter","in":"header","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/v2/infra-elements/kindlist":{"get":{"tags":["infra-element-controller"],"summary":"Recupera un InfraElement per id (es. svc-a1b2c3d4)","operationId":"kindlist","parameters":[{"name":"Authorization","in":"header","required":false,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}},{"name":"x-opa-project-filter","in":"header","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}}}}},"components":{"schemas":{"ErrorResponse":{"type":"object","properties":{"errorCode":{"type":"string"},"message":{"type":"string"}}},"PriceBean":{"type":"object","properties":{"type":{"type":"string","enum":["RESERVATION","CONSUMPTION","PREEMPTIVE","DEVTESTCONSUMPTION","ON_PREMISES"]},"amount":{"type":"number","format":"double"},"unit":{"type":"string"},"os":{"type":"string","enum":["WINDOWS","LINUX"]},"zone":{"type":"string"},"reservationTerm":{"type":"string"},"currencyCode":{"type":"string"},"description":{"type":"string"},"meterId":{"type":"string"},"tierMinimumUnits":{"type":"number","format":"double"}}},"Region":{"type":"object","properties":{"zone":{"type":"array","items":{"type":"string"}},"name":{"type":"string"},"id":{"type":"string"},"description":{"type":"string"},"link":{"type":"string"},"prices":{"type":"array","items":{"$ref":"#/components/schemas/PriceBean"}},"extraPrices":{"type":"array","items":{"$ref":"#/components/schemas/PriceBean"}}}},"Relation":{"type":"object","properties":{"id":{"type":"string"},"relationType":{"type":"string","enum":["CHILD","PARENT","ASSIGNED","ASSIGNEE","INSTANCE","INSTANCEOF"]},"taxonomyVersion":{"type":"integer","format":"int64"},"taxonomyReleaseVersion":{"type":"integer","format":"int64"},"taxonomyName":{"type":"string"},"replicas":{"type":"integer","format":"int32"},"type":{"type":"string","enum":["VM","STORAGE","NETWORK","INTERFACE","SERVICE","BLUEPRINT","K8S","RESOURCEGROUP","POOLPROFILE","SUBNET","PUBLICIP","FIREWALLRULES","TAGS","OTHER","SECURITY","NAMESPACE","AIMODEL","AIPLATFORM","POD","DEPLOYMENT","STATEFULSET","SECRET","CONFIGMAP","PERSISTENTVOLUMECLAIM","K8SSERVICE","INGRESS","NETWORKPOLICY","PAAS","VMCONFIDENTIAL","SKU","EDGE","NODE","CLUSTER","KUBEVIRTVMI","KUBEVIRTVM","KUBEVIRTDATASOURCE"]},"subType":{"type":"string","enum":["APPLICATIONGATEWAY","CDNFRONTDOOR","LOADBALANCER","LOCALNETWORKGATEWAY","NETWORKINTERFACE","NETWORKSECURITYGROUP","PUBLICIP","VIRTUALNETWORK","VIRTUALNETWORKGATEWAY","CONNECTION","APPLICATIONSECURITYGROUP","WEBAPPLICATIONFIREWALL","BASTION","FIREWALL","FIREWALLPOLICY","ZONE","SUBNET"]},"role":{"type":"string"},"name":{"type":"string"},"systemType":{"type":"string","enum":["Azure","VMWare","CMP","Google","AzureStack","AzureStackHCI","OpenShift","AmazonWebServices","AzureStackHybridCloud","Oracle","VCloudDirector","Kubernetes","OracleExAcc","RedHatEdge","Proxmox","OracleOCI"]},"systemUuid":{"type":"string"}}},"ResourceDTO":{"type":"object","properties":{"id":{"type":"string"},"systemUuid":{"type":"string"},"uuid":{"type":"string"},"taxonomyName":{"type":"string"},"taxonomyDescription":{"type":"string"},"taxonomyVersion":{"type":"integer","format":"int64"},"taxonomyReleaseVersion":{"type":"integer","format":"int64"},"properties":{"type":"object","additionalProperties":{}},"providerTags":{"type":"array","items":{"type":"string"}},"cmpManagedTags":{"type":"array","items":{"type":"string"}},"v":{"type":"integer","format":"int64"},"scope":{"type":"string","enum":["CATALOGO","INVENTARIO"]},"creationDate":{"type":"string","format":"date-time"},"updateDate":{"type":"string","format":"date-time"},"type":{"type":"string","enum":["VM","STORAGE","NETWORK","INTERFACE","SERVICE","BLUEPRINT","K8S","RESOURCEGROUP","POOLPROFILE","SUBNET","PUBLICIP","FIREWALLRULES","TAGS","OTHER","SECURITY","NAMESPACE","AIMODEL","AIPLATFORM","POD","DEPLOYMENT","STATEFULSET","SECRET","CONFIGMAP","PERSISTENTVOLUMECLAIM","K8SSERVICE","INGRESS","NETWORKPOLICY","PAAS","VMCONFIDENTIAL","SKU","EDGE","NODE","CLUSTER","KUBEVIRTVMI","KUBEVIRTVM","KUBEVIRTDATASOURCE"]},"subType":{"type":"string","enum":["APPLICATIONGATEWAY","CDNFRONTDOOR","LOADBALANCER","LOCALNETWORKGATEWAY","NETWORKINTERFACE","NETWORKSECURITYGROUP","PUBLICIP","VIRTUALNETWORK","VIRTUALNETWORKGATEWAY","CONNECTION","APPLICATIONSECURITYGROUP","WEBAPPLICATIONFIREWALL","BASTION","FIREWALL","FIREWALLPOLICY","ZONE","SUBNET"]},"status":{"type":"string","enum":["DRAFT","VALIDATING","ACCEPTED","CANCELED","CREATED","CREATING","DELETED","SOFT_DELETED","DELETING","FAILED","NOT_SPECIFIED","READY","RUNNING","IN_PROGRESS","SUCCEEDED","UPDATING","UNATTACHED","ATTACHED","RESERVED","ACTIVE_SAS","READY_TO_UPLOAD","ACTIVE_UPLOAD","STOPPED"]},"rel":{"type":"array","items":{"$ref":"#/components/schemas/Relation"},"uniqueItems":true},"systemType":{"type":"string","enum":["Azure","VMWare","CMP","Google","AzureStack","AzureStackHCI","OpenShift","AmazonWebServices","AzureStackHybridCloud","Oracle","VCloudDirector","Kubernetes","OracleExAcc","RedHatEdge","Proxmox","OracleOCI"]},"originalSystemType":{"type":"string","enum":["Azure","VMWare","CMP","Google","AzureStack","AzureStackHCI","OpenShift","AmazonWebServices","AzureStackHybridCloud","Oracle","VCloudDirector","Kubernetes","OracleExAcc","RedHatEdge","Proxmox","OracleOCI"]},"systemName":{"type":"string"},"availableRegion":{"type":"array","items":{"$ref":"#/components/schemas/Region"}},"cloudResource":{"type":"boolean"}}},"PriceDetails":{"type":"object","properties":{"includedQuantity":{"type":"number","format":"double"},"currencyCode":{"type":"string"},"retailPrice":{"type":"number","format":"double"},"unitPrice":{"type":"number","format":"double"},"location":{"type":"string"},"skuName":{"type":"string"},"unitOfMeasure":{"type":"string"},"reservationTerm":{"type":"string"},"type":{"type":"string"},"tierMinimumUnits":{"type":"number","format":"double"},"armRegionName":{"type":"string"},"effectiveStartDate":{"type":"string"},"effectiveEndDate":{"type":"string"},"meterId":{"type":"string"},"meterName":{"type":"string"},"primaryMeterRegion":{"type":"boolean"}}},"ReservationTerm":{"type":"object","properties":{"meterName":{"type":"string"},"meterId":{"type":"string"},"scopeType":{"type":"string"},"term":{"type":"string"},"expiryDate":{"type":"string"},"provisioningState":{"type":"string"},"renew":{"type":"boolean"}}},"Resource":{"type":"object","properties":{"id":{"type":"string"},"systemUuid":{"type":"string"},"systemName":{"type":"string"},"uuid":{"type":"string"},"taxonomyName":{"type":"string"},"taxonomyDescription":{"type":"string"},"taxonomyVersion":{"type":"integer","format":"int64"},"taxonomyReleaseVersion":{"type":"integer","format":"int64"},"properties":{"type":"object","additionalProperties":{}},"providerTags":{"type":"array","items":{"type":"string"}},"cmpManagedTags":{"type":"array","items":{"type":"string"}},"v":{"type":"integer","format":"int64"},"scope":{"type":"string","enum":["CATALOGO","INVENTARIO"]},"creationDate":{"type":"string","format":"date-time"},"updateDate":{"type":"string","format":"date-time"},"type":{"type":"string","enum":["VM","STORAGE","NETWORK","INTERFACE","SERVICE","BLUEPRINT","K8S","RESOURCEGROUP","POOLPROFILE","SUBNET","PUBLICIP","FIREWALLRULES","TAGS","OTHER","SECURITY","NAMESPACE","AIMODEL","AIPLATFORM","POD","DEPLOYMENT","STATEFULSET","SECRET","CONFIGMAP","PERSISTENTVOLUMECLAIM","K8SSERVICE","INGRESS","NETWORKPOLICY","PAAS","VMCONFIDENTIAL","SKU","EDGE","NODE","CLUSTER","KUBEVIRTVMI","KUBEVIRTVM","KUBEVIRTDATASOURCE"]},"subType":{"type":"string","enum":["APPLICATIONGATEWAY","CDNFRONTDOOR","LOADBALANCER","LOCALNETWORKGATEWAY","NETWORKINTERFACE","NETWORKSECURITYGROUP","PUBLICIP","VIRTUALNETWORK","VIRTUALNETWORKGATEWAY","CONNECTION","APPLICATIONSECURITYGROUP","WEBAPPLICATIONFIREWALL","BASTION","FIREWALL","FIREWALLPOLICY","ZONE","SUBNET"]},"status":{"type":"string","enum":["DRAFT","VALIDATING","ACCEPTED","CANCELED","CREATED","CREATING","DELETED","SOFT_DELETED","DELETING","FAILED","NOT_SPECIFIED","READY","RUNNING","IN_PROGRESS","SUCCEEDED","UPDATING","UNATTACHED","ATTACHED","RESERVED","ACTIVE_SAS","READY_TO_UPLOAD","ACTIVE_UPLOAD","STOPPED"]},"rel":{"type":"array","items":{"$ref":"#/components/schemas/Relation"},"uniqueItems":true},"priceDetails":{"type":"array","items":{"$ref":"#/components/schemas/PriceDetails"}},"systemType":{"type":"string","enum":["Azure","VMWare","CMP","Google","AzureStack","AzureStackHCI","OpenShift","AmazonWebServices","AzureStackHybridCloud","Oracle","VCloudDirector","Kubernetes","OracleExAcc","RedHatEdge","Proxmox","OracleOCI"]},"originalSystemType":{"type":"string","enum":["Azure","VMWare","CMP","Google","AzureStack","AzureStackHCI","OpenShift","AmazonWebServices","AzureStackHybridCloud","Oracle","VCloudDirector","Kubernetes","OracleExAcc","RedHatEdge","Proxmox","OracleOCI"]},"description":{"type":"string"},"availableRegion":{"type":"array","items":{"$ref":"#/components/schemas/Region"}},"catalogueId":{"type":"string"},"priceType":{"type":"string","enum":["RESERVATION","CONSUMPTION","PREEMPTIVE","DEVTESTCONSUMPTION","ON_PREMISES"]},"meterId":{"type":"string"},"reservationTerm":{"$ref":"#/components/schemas/ReservationTerm"},"cloudResource":{"type":"boolean"},"skipCrds":{"type":"boolean"}}},"InfraElement":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"kind":{"type":"string","enum":["terraform","vm","network","helm","ansible","bicep","azurepipeline","webhook","kubernetes"]},"subSystemUuid":{"type":"string"},"metadata":{"$ref":"#/components/schemas/InfraMetadata"},"iacMessage":{"type":"string"},"uuidService":{"type":"string"},"updateAvailable":{"type":"boolean"},"source":{"$ref":"#/components/schemas/InfraSource"},"lifecycle":{"$ref":"#/components/schemas/InfraLifecycle"},"dependencies":{"type":"array","items":{"type":"string"}},"provisioningIdsList":{"type":"array","items":{"type":"string"}},"outputs":{"type":"object","additionalProperties":{}},"spec":{"type":"object","additionalProperties":{}}}},"InfraLifecycle":{"type":"object","properties":{"status":{"type":"string","enum":["pending","provisioning","running","degraded","destroyed"]},"managed_by":{"type":"string","enum":["terraform","manual","helm","ansible"]},"auto_destroy":{"type":"boolean"},"ttl_seconds":{"type":"integer","format":"int64"}}},"InfraMetadata":{"type":"object","properties":{"environment":{"type":"string"},"team":{"type":"string"},"labels":{"type":"object","additionalProperties":{"type":"string"}},"annotations":{"type":"object","additionalProperties":{"type":"string"}},"version":{"type":"integer","format":"int64"},"created_at":{"type":"string","format":"date-time"},"updated_at":{"type":"string","format":"date-time"}}},"InfraSource":{"type":"object","properties":{"type":{"type":"string","enum":["git","registry","inline","s3"]},"repo":{"type":"string"},"ref":{"type":"string"},"path":{"type":"string"}}},"PagedListDTO":{"type":"object","properties":{"resources":{},"total":{"type":"integer","format":"int64"}}},"SelectBean":{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"}}},"DeleteResult":{"type":"object","properties":{"deletedCount":{"type":"integer","format":"int64"}}}}}}